.Alert-modal{
    position: absolute;
    z-index: 999;
    width: 45%;
    top: 20%;
    right: 28%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccd;
}